/* loader start Elika*/
.loader{
    /* position:relative; */
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.85s ease-in-out /* visibility 0.75s; */;
    transform:scale(1);

}

.sqrow{
    display: flex;
    justify-content: center;
    margin-bottom: 2px
}

.loader-hidden{
    transform:scale(0);
    opacity: 0;
    display: none;
    visibility: hidden;
}

.hidden{
    display: none;
    visibility: hidden;
}

.square{
    /* position:absolute; 
    display:flex;
    justify-content: center;
    align-items: center; */
    height:50px;
    width:50px;
    background:coral;
    animation:flip 2.5s linear infinite;
}


@keyframes flip{
    0% {transform: rotateX(0) rotateY(0) }
    25% {transform: rotateX(0) rotateY(180deg) }
    50% {transform: rotateX(180deg) rotateY(180deg) }
    75% {transform: rotateX(180deg) rotateY(0) }
    100% {transform: rotateX(0) rotateY(0) }
    
}


/* loader end */

#p1Top{
    display:flex;
    justify-content: space-between;
    padding:15px 20px 15px 20px;
}
#p1TopLogo{
    display:flex;
}
#p1TopLogoLogo{
    width:168px;
    height:70px;
    background-image:url(../DisruptTimelineWebPage/p1ecellLogo.svg);
    background-size:cover;
    margin-right:15px;
}
#p1TopLogoLine{
    background-image:url(../DisruptTimelineWebPage/p1LogoLine.svg);
    background-size:cover;
    height:70px;
    width:2px;
}
#p1TopLogoVector{
    background-image:url(../DisruptTimelineWebPage/p1logoVector.svg);
    background-size:cover;
    height:60px;
    width:58px;
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
}
#p1TopBar{
    /* margin-left:15%; */
    padding-right: 10%;
    /* width:50%; */
    display:flex;
    justify-content: end;
    align-items:center;
}
.p1TopBarElement{
    color: var(--d-9-d-9-d-9, #F1E7FF);
    font-family: 'Sora',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 10px;
    border: 2px solid #F1E7FF;
    border-radius: 8px;
    position: relative;
    z-index: 100;
}

.p1TopBarElement:hover{
    background-color: #F1E7FF;
    color: #1E1E1E;
    transition: 0.5s;
}

/* *{
    outline: 2px solid red;
} */

html{
    scroll-behavior: smooth;
}

body{
    background-color: #1E1E1E;
    color: white;
    margin: 0px;
}
footer{
    width: 80%;
    padding: 0.5% 10%;
    background-color: #606060;
    display: flex;
    justify-content: space-between;
}
.Contact{
    display: flex;
    /* justify-content:end; */
    width: 40%;
}

.Contact p span{
    padding-bottom: 10%;
}

.social_media{
    width: 60%;
    display: flex;
    justify-content: end;
}

.signup{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 4% 0;
    margin-bottom: 10%;
}

.signup-btn{
    margin-top: 10%;
    cursor:pointer;
}

.register{
    position:relative;
    left:10%;
    width:60%;
    border: 3.6px #F4CA76 solid;
    border-radius: 9.6px;
    padding: 44.45px  66.39px;
    box-shadow:12px 15px #1E1E1E, 15.6px 19.2px  white;
    
}
.reg_form{
    width: 60%;
}
.details{
    justify-self: center;
    align-self: center;
    display: flex; 
}
.no-outline {
    border: none;
    background-color: #1E1E1E;
    outline: none;
    border: 2px solid #1E1E1E;
    color: rgba(255, 255, 255, 0.70);
    font-family: 'Sora', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* text-transform: uppercase;  */
  }
.label{
    color: rgba(255, 255, 255, 0.70);
    font-family: 'Sora', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase; 
}
.sign{
    background-color: #fff;
    text-align: center; 
    border-radius: 40px; 
    padding:10.5px 72px ; 
    border: black 3px solid; 
    box-shadow: 0px 10px #e37346;
    font-size: 175%;
    font-family: 'Sora', sans-serif;
}
/*Yashika*/

.container{
    height: 900px;
}

.image-container {
    -top: 5%;
    height: 100%;
    background-image: url(./image/Disrupt/bg.png);
}

.background {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 0%;
}


.union {
    width: 100% ;
    height: 80%;
    flex-shrink: 0;
    fill: var(--d-9-d-9-d-9, #D6B9FC);
    position: relative;
    top: 10%;
    left: 0%;
    background-image: url(./image/Disrupt/bg.png);
}



.vector1 {
    width: 5%;
    height: 15%;
    position: relative;
    top: -14%;
    /* Adjust the top position */
    left: 77%;
    /* Adjust the left position */
}

.vector2 {
    width: 5%;
    height: 15%;
    position: relative;
    top: -5%;
    /* Adjust the top position */
    left: 27%;
    /* Adjust the left position */
}

.vector3 {
    width: 5%;
    height: 15%;
    position: relative;
    top: -35%;
    /* Adjust the top position */
    left: -2%;
    /* Adjust the left position */
}

.vector4 {
    width: 16%;
height: 16%;
    position: relative;
    top:-73%;
    /* Adjust the top position */
    left: 55%;
    /* Adjust the left position */
   
    
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -46%;
    left: 48%;
    width: 50%;
    height: 45%;
    /* max-width: 90%;  */
    z-index: 50;
    background-color: grey;
    transform: translate(-50% ,-50%);

}

.video{
    height: 70%;
    width: 100%;
}

/* Divyansh */
*{
    padding:none;
    margin:none;
    border:none;
}
#backgrounddots{
    background-image:url(backgroundtrue.png);
    background-size:cover;
}
#backgroundtop{
    display:flex;
    height:100vh;
    width:auto;
}
#backgroundtopleft{
    width:75%;
}
#backgroundtopright2{
    background-image:url(./image/Disrupt/timelinepng.png);
    background-size:cover;
    width:49.6%;
    top:-5%;
    height:120%;
    position:relative;
    right: 0;
    z-index:0;
}
#backgroundtopleftheading{
    position:relative;
    width:100%;
    top:3.739%;
    height:5.784%;
    left:20.77%;
    font-family: 'Rubik', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color:#FFFFFF;
}
#backgroundtopleftheadingvector{
    position:relative;
    top:8.523%;
    left:21%;
    width:33.7%;
    height:2.25%;
}
#backgroundtopleftparatext{
    color: #FFF;
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position:relative;
    top:21.0%;
    left:19.3%;
    width:105.3%;
    line-height: 120%;
}
#backgroundtopleftlist{
    position:relative;
    top:29.5%;
    left:18%;
    right:20%;
    width:100%;
    color: #FFF;
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    padding-left: 20%;
}
#leftrightseparator{
    color:#FFFFFF;
    position:relative;
    margin:0 4%;
    left:10%;
    top:12%;
    height:150%;
    width:5%;
}
#backgroundtopright1{
    width:40.9%;
    margin-left:9%;
}
#backgroundtopright1textbox1{
    position:relative;
    top:27.7%;
    left:1.01%;
    width:48%;
    margin-bottom:5%;
}
#backgroundtopright1box1text1{
    margin-top:2%;
}
.backgroundtopright1textbox1text{
    color:#F1E7FF;
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 137%; 
    margin-bottom:35%;
}
.backgroundtopright1textbox2text{
    color:#F1E7FF;
    font-family: 'Sora', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin-bottom:25%;
}
#backgroundtopright1textbox2{
    position:relative;
    top:30.63%;
    left:1%;
}
@keyframes moving{
    0%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(-100%);
    }
}
@keyframes movingback{
    0%{
        transform:translateX(-100%);
    }
    100%{
        transform:translateX(100%);
    }
}
.sponsorlogotext{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%; 
    margin-left: 3.3%;
    margin-right:30.3%;
}
.unionstarttext{
    display:flex;
    animation:moving 5s linear infinite;
    margin-right:9.3%;
}
.unionstarttextb{
    display:flex;
    animation:movingback 5s linear infinite;
    margin-right:9.3%;
}
.sponsorlogostar{
    color:#D9D9D9;
    margin-left: 3.3%;
    margin-right:3.3%;
}
#backgroundbottom{
    margin-top:18%;
}
#backgroundbottomline{
    background-image:url(Linebottom.png);
    background-size:cover;
    width:100%; 
}
#backgroundbottomline1{
    position:relative;
    top:70.64%;
    display:flex;
}
#backgroundbottomline1{
    white-space:nowrap;
}
#backgroundbottomline2{
    position:relative;
    top:89.81%;
    display:flex;
}
.backgroundtopright3text{
    font-family:'Sora', sans-serif;
}
#backgroundtopright2box1{
    position:relative;
    background-image:url(Groupedvector.png);
    background-size:cover;
    top:2%;
    right:2%;
    height:50%;
}
#backgroundtopright2box1{
    background-image:url(Groupedvector.png);
    background-size:cover;
}
#arrows{
    position:relative;
    top:57%;
    left:-3.5%;
    z-index:1;
}

/* Tanu */


.firstpage {


  
 
    margin:0px;
    height: 1100px;
     width:100%;

     
    
     
   
    
   }
   
   .header1{
     height:99px;
   
     
     
   
   }
   
   .logo{
   
     margin-left:2%;
     margin-top:49px;
     width:60.84px;
     height:63.79px;
   }
   
   .frame{
     display:flex;
     flex-direction:row;
     width:100%;
     flex-wrap:wrap;
    
     
     
   }
   
   .frame1{
    
   flex:1;
    
     margin-top:100px;
     display:flex;
     
     flex-direction:column;
     gap:150px;
    
     
     align-items:center;
     
   
    
    
   
   
   }
   
   
   .para{
     
    
     
     display:flex;
     flex-direction:column;
    
     font-family: "Momcake Bold";
     
     gap:5px;
     line-height:70px;
    
    
   }
   #fname{
    background-image: url('./image/Disrupt/bg.png');
    font-size:30px;
   }
   #email{
    background-image: url('./image/Disrupt/bg.png');
    font-size:30px;
   }
   .onep{
   font-size: 80px;
   color:rgb(241,231,255);
   }
   .twop{
     margin-left:-5px;
     font-size: 80px;
   color:rgb(241,231,255);
   
   }
   .threep{
     font-size: 80px;
     color:rgb(163,182,245);
   
   }
   .fourp{
     font-size: 80px;
     color:rgb(241,231,255);
   }
   
   .ecellsign{
   
     font-family: "Momcake Thin";
      display:flex;
      flex-direction:column;
      
     color:white;
      align-items:center;
      gap:15px;
     
      
   }
   .presented{
     font-size:28px;
   
     word-spacing: 3px;
   }
   .sign1{
     display:flex;
     flex-direction:row;
     font-size:20px;
     align-items:center;
     justify-content:center;
    
     width:100%;
    
   
     gap:10px;
   }

   .ecellsignpara{
     line-height:25px;
   }
   
   .frame2{
   
     display:flex;
     flex:1;
    min-width:350px;
   margin-top:-30px;
   margin-right:0px;
   flex-direction: column;
   align-items: center;
   position:relative;
   
   
   
   
   
   
   }
   .framediv{
    
    width:100%;
  
   }
   
   .blast{
     width:100%;
    
     margin-left:-15%;
     margin-top:100px;
   
   
   
   
   
   
   }
   
   
   
   .disruptimage{
    overflow-x: hidden;
     width:100%;
     right: -6%;
     top: -8%;
   height:auto;
   /* margin-top:8%; */
   z-index:10;
   position:absolute;

   }
   .Group_29{

position:absolute;
top:450px;
right: 0px;
z-index:0;

width:45%;

   }
   .Group_25{
    position:absolute;
width:52.64%;
top:100px;
right:81.24%;



   }
 .Group251{

top:630.58px;
position:absolute;
left:46.88%;


 }
 .Group_34{
    
    position:absolute;
top:508.63px;
right:87.31%;
 }
 .Group_31{
    position:absolute;
top:80px;
left:29%;
z-index:-1;
 }
 .Group341{
    position:absolute;
    width:25.56%;
    top:640px;
    right:0px;
    
    z-index:-1;
    

 }
 .Vector21{
    position:absolute;
    
    top:200px;
    right:90%;
 }
 .Vector31{
  
  position:absolute;
    
  top:700px;
  left:43%;
 }
 .Vector41{
    
    position:absolute;
    top:350px;
    right:102.76%;

 }
 .Vector51{
   
    position:absolute;
    top:698.99px;
   left:23%;
 }
 .Vector30{
  
    position:absolute;
    top:470px;
   right:0;
 }
 .Vector311{
  
   
   position:absolute;
   top:439px;
   right:94.31%;
 }
#ecellf{
    margin-right:27.51px;
}
#ecellt{
    margin-right:27.51px;
}
#ecelli{
    margin-right:27.51px;
}
#ecelll{
    margin-right:27.51px;
}
   .signup1{
     cursor:pointer;
     border:none;
     width:272px;
     height:66px;
     background-color:rgb(241, 231, 255);
     font-size:28px;
   border-radius:100px;
   box-shadow: 0px 10px rgb(238, 135, 94);
   }
   .signup1:hover{
     opacity:0.8;
   }
   
   .signup1:active{
     opacity:0.5;
   }
   
   .signup1 a{
    text-decoration: none;
    color: black;
   }

   .formbtn{
    cursor:pointer;
    border:none;
    width:272px;
    height:66px;
    background-color:rgb(241, 231, 255);
    font-size:28px;
    border-radius:100px;
    box-shadow: 0px 10px rgb(238, 135, 94);
   }

    .formbtn:hover{
     opacity:0.8;
    }

    .formbtn:active{
     opacity:0.5;
    }

    .formbtn a{
    text-decoration: none;
    color: black;
    }
   
   #mobileversion{
    display:none;
   }
   #signuptext1{
    font-family: 'Sora', sans-serif;
    font-size:60px;
    margin-bottom:5%;
   }
   #signuptext2{
    font-family: 'Sora', sans-serif;
    font-size:20px;
    margin-bottom:5%;
   }

   .mobile-form{
         display:none;
   }

   /* added media queries */

   
 @media only screen and (max-width: 600px){

    #p1TopBar{
        padding: 0;
    }
    .p1TopBarElement{
        font-size: 14px;
        padding: 5px;
    }
   
    .frame2{
        
        display:flex;
        justify-content:center;
        left:5vh;
        transform: translate(5%,11%);
    }
    .image-container{
        /* background-color: #D6B9FC; */
        transform: translate(2%,25%);
    }
    #startwaliimage{
        display:none;
    }
    
    #signuptext{
        width:80%;
        text-align: start;
    }
    #signuptext1{
        font-size:30px;
        /* position:relative; */
        /* left:14%; */
        width:160%;
    }

    .mobile-form{
        display:block;
    }

    .details{
        display: none;
    }

    #fname{
        position:relative;
        top:-20%;
        font-size:19px;
    }
    #email{
        font-size:19px;

    }
    #imageoflines1{
        position:relative;
        top:-25%;
        left:3%;
        width:105%;
    }
    #imageoflines2{
        position:relative;
        top:-20%;
        left:3%;
        width:105%;
    }
    #signuptext2{
        font-size:20px;
        /* position:relative; */
        left:5%;
    }
    .register{
        width:70%;
        height:20%;
        position:relative;
        left:10%;
        top:5%;
        font-size:20px;
    }
    .no-outline{
        width:40%;
    }
    .signup-btn{
        position:relative;
        top: 20%;
        left:25%;
        width:20%;
        height:10%;
        cursor:pointer;
        margin-bottom:20%;
    }
    #startrightimage{
        display: none;
    }
   #backgrounddots{
    margin-top:10vh;
    height:150vh;
    /* background-color: #D6B9FC; */
    /* transform: translate(0,43%); */
    /* display:grid; */
    flex-wrap: wrap;
    }
    #backgroundtop{
    flex-wrap: wrap;
    }
    #backgroundtopright2{
        position:relative;
        top:-95%;
        background-image:url(./image/Disrupt/timelinepng.png);
        background-size:cover;
        max-width:auto;
        height:10%;
    }
    #mobileversion{
        display:block;
        position:relative;
        top:-10%;
    }
    #mobileversiontext{
        position:relative;
        top:-20%;
        left:0%;
        color: #FFF;
        font-family: 'Rubik', sans-serif;
        font-size: 40.467px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    } 
    #backgroundtopright1textbox1{
        position:relative;
        top:-20%;
        width:40%;
    }
    .backgroundtopright1textbox1text{
        font-size:15px;
    }
    #mobileversionline{
        position:relative;
        left:10%;
        top:-30%;
    }
    /* #backgroundtopleftheadingvector{
    
    transform: translate(0,6vh);
     5background-color: #e37346;
    }  */

    #backgroundtopright2{
        height:80vh;
        width:48vw;
        margin-top:23%;
        background-image:url(./image/Disrupt/timelinepng.png);
    }
    #backgroundtopright1{
        height:90vh;
        font-size:rem;
    }
 #backgroundtopright1textbox2{
    top:0%;
 }
 #backgroundtopright1textbox1{
    top:0%;
    width:45%;
 }
    .signup{
       overflow-x: hidden; 
        
    }


    #leftrightseparator{
        visibility:hidden;
    }
    .video-container{
        height:35vh;
        width:70vw;
    } 
    .social_media{
        position:relative;
        left:10%;
        margin-top:5%;
    }
    #backgroundtopright1{
        margin-top:0;
        position:relative;
        top:-75%;
    }
    #websitefootercontactecelllogo{
        position:relative;
        left:-25%;
    }
    #websitefootercontactecelltext{
        position:relative;
        top:-10%;
        left:-10%;
    }
    #websitefootercontactecellline{
        position:relative;
        left:-20%;
    }
    #arrows{
        display:none;
    }
    #websitefooter{
        background-color: #EE875E;;
    }
    #followfollowtext{
        display:none;
    }
    #backgroundtopleftheading{
        /* position:relative;
        top:8%;
        left:13%; */
        font-size:35px;
    }
    #backgroundtopleftparatext{
        position:relative;
        top:15%;
        font-size:16px;
    }
    #backgroundtopleftlist{
        padding-left: 0;
        top: 25%;
    }
    /* #backgroundtopleftheadingvector{
        position:relative;
        top:6%;
        left:30%;

    } */
    #startwaliimage{
        position:relative;
        left:20%;
        height:30%;
    }
    #ecelll{
        height:20%;
        width:30%;
        margin-right:8px;
    }
    #ecellf{
        height:20%;
        width:30%;
        margin-right:8px;
    }
    #ecelli{
        height:20%;
        width:30%;
        margin-right:8px;
    }
    #ecellt{
        height:20%;
        width:30%;
        margin-right:8px;
    }

    #backgroundtopright1box1text3{
        width:140px;
    }
    #backgroundtopright1box1text2{
        width:120px;
    }

    .tracks img{
        width: 100%;
    }

    .speakers img{
        width: 100%;
    }

    .incentives img{
        width: 100%;
    }
    
}

.tracks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.speakers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.incentives{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}